.catalog {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px;
  }

  &__filter {
    & + & {
      margin-left: 20px;
    }
  }

  &-price {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__label {
      margin-right: 10px;
    }

    &__wrap {
      position: relative;
      display: flex;
      align-items: center;

      .seprator {
        width: 15px;
        height: 1px;
        margin: 0 5px;
        background-color: $color-woodsmoke;
      }
    }

    &__input {
      width: 80px;
      height: 40px;
      padding: 10px;
      border: 1px solid $color-woodsmoke;
      border-radius: 5px;
      outline: none;
      text-align: center;
    }
  }

  &-sort__select {
    height: 40px;
    padding: 0 10px;
    border: 1px solid $color-woodsmoke;
    border-radius: 5px;
  }

  &-instock {
    &__field {
      position: absolute;
      appearance: none;
    }

    &__content {
      position: relative;
      padding-right: 45px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        width: 35px;
        height: 20px;
        border: 2px solid $color-woodsmoke;
        border-radius: 0;
        transition: 0.3s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 17px;
        box-sizing: border-box;
        width: 16px;
        height: 20px;
        background-color: $color-woodsmoke;
        transition: 0.3s ease-in-out;
      }
    }

    &__field:checked + &__content {
      &::after {
        right: 2px;
        background-color: $color-schist;
      }

      &::before {
        border-color: $color-schist;
      }
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-list {
    width: 100%;
    margin-bottom: 30px;
    list-style: none;

    &__item {
      grid-column: 3 span;
    }
  }

  &__more {
    @include desktop {
      &:hover {
        background-color: $color-accent-hover;
      }
    }

    padding: 12px 22px;
    border-radius: 4px;

    // font: $middle-regular);
    background-color: $color-schist;
    color: $color-white;
    outline: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:active {
      background-color: $color-btn-active;
    }
  }
}

.product {
  // height: 100%;

  // border: 1px solid $color-swisscoffee;
  border-radius: 4px;
  font-size: 14px;

  &:hover {
    box-shadow: 0 21px 15px rgb(0 0 0 / 8%);
  }

  &__img {
    position: relative;
    height: 250px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 2px 2px rgb(255 255 255);
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 20px;
    padding-top: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font: 700 18px / 1.5 "Playfair Display", serif;
    letter-spacing: 0.03em;
  }

  &__price {
    font-family: Prata, serif;
  }

  &__availability {
    margin-bottom: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 5px;
    border: 1px solid $color-schist;
    border-radius: 4px;
    background: linear-gradient(90deg, $color-schist 50%, rgb(255 255 255) 50%);
    background-position: 100% 100%;
    background-size: 200% 100%;
    color: $color-woodsmoke;
    font-size: 24px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: $color-schist;
      background-position: 0 100%;
      color: $color-white;
    }
  }

  &--inCart {
    .product__btn {
      display: none;
    }

    .product__counter {
      display: flex;
    }
  }

  &--disabled {
    opacity: 0.35;

    .product__control {
      visibility: hidden;
    }
  }
}

.counter {
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  padding: 5px;
  border: 1px solid $color-schist;
  border-radius: 4px;
  background-color: $color-schist;
  color: $color-white;

  &__input {
    flex: 1 1 auto;
    width: 40px;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    outline: none;
    font-size: 24px;
    text-align: center;
  }

  &__btn {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba($color-white, 14%);

    &:hover {
      background-color: rgba($color-white, 30%);
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        background-color: rgba($color-white, 14%);
      }
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: none;
      stroke: $color-white;
    }
  }
}
