<div class="catalog">
  <div class="container catalog__container">
    <h2 class="catalog__title title">Каталог</h2>
    <form class="catalog-filters">
      <div class="catalog__filter catalog-price">
        <p class="catalog-price__label">Ціна</p>
        <div class="catalog-price__wrap">
          <input
            class="catalog-price__input catalog-price__input1"
            type="text"
            name="price-min"
            id="price__min"
            value="10"
          />
          <span class="seprator"></span>
          <input
            class="catalog-price__input"
            type="text"
            name="price-max"
            id="price__max"
            value="10000"
          />
        </div>
      </div>
      <div class="catalog__filter catalog-instock">
        <label class="catalog-instock__label">
          Тільки в наявності
          <input
            type="checkbox"
            class="catalog-instock__field"
            name="instock"
          />
          <span class="catalog-instock__content"></span>
        </label>
      </div>
      <div class="catalog__filter catalog-sort">
        <select class="catalog-sort__select" name="sort" id="sort">
          <option value="1" selected>Від дешевид до дорогих</option>
          <option value="2">Від дорогих до дешевих</option>
        </select>
      </div>
    </form>
    <div class="catalog__grid">
      <ul class="catalog-list grid">
        <li class="catalog-list__item">
          <article data-id="10533" class="product">
            <div class="product__img">
              <img src="img/hero-slide2.jpg" alt="" />
            </div>
            <div class="product__content">
              <h3 class="product__title">Ремінь Montblanc 116711</h3>
              <p class="product__description"></p>
              <div class="product__price">
                <span class="product__price-value">710</span>
                <span class="product__price-currency">&nbsp;&#8372;</span>
              </div>
              <div class="product__availability">Є в наявності</div>
              <div class="product__control">
                <div class="product__counter counter">
                  <button
                    class="btn-reset counter__btn counter__dcr"
                    type="button"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#dcr"></use>
                    </svg>
                  </button>
                  <input class="counter__input" type="text" value="2" />
                  <button
                    class="btn-reset counter__btn counter__incr"
                    type="button"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#incr"></use>
                    </svg>
                  </button>
                </div>
                <button class="btn-reset product__btn" type="button">
                  В кошик
                </button>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <button class="catalog__more btn-reset">Показати ще</button>
    </div>
  </div>
</div>
