<div class="product__counter counter">
  <button class="btn-reset counter__btn counter__dcr" type="button">
    <svg>
      <use xlink:href="img/sprite.svg#dcr"></use>
    </svg>
  </button>
  <input class="counter__input" type="text" value="1" />
  <button class="btn-reset counter__btn counter__incr" type="button">
    <svg>
      <use xlink:href="img/sprite.svg#incr"></use>
    </svg>
  </button>
</div>
<td>
  <p><input class="item-count" type="number" value="${item.quantity}" /></p>
</td>

<button class="btn-reset" type="button">
  <svg>
    <use xlink:href="img/sprite.svg#incr"></use>
  </svg>
</button>
