<header class="header">
  <div class="container grid header__container">
    <div class="header__left">
      <a class="logo header__logo">
        <img src="img/logo.png" alt="Fayni Remeni" class="logo__img" />
      </a>
    </div>
    <div class="header__center">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Про&nbsp;нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакти</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right link" >
      <div class="user header__user link__item">
        <a href="#modal-new-user" data-modal="#new-user" class="user__btn link__btn modal-link">
          <svg>
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </a>
      </div>
      <div class="cart header__cart link__item">
        <a href="#modal-cart" data-modal="#cart" class="cart__btn link__btn modal-link">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count"></div>
        </a>
      </div>
    </div>
  </div>
</header>
