<section class="hero">
  <div class="container hero__container">
    <div class="hero__bg">
      <div class="hero__content">
        <h2 class="hero__title">Власне<br />виробництво</h2>
        <p class="hero__description">
          Правильний ремінь перетворить простий образ<br />на&nbsp;вишукане вбрання.
        </p>
        <p class="hero__description">
          А&nbsp;різнобарв&lsquo;я кольорів дозволить створити самі<br />сміливі
          образи.
        </p>
        <a href="#catalog"></a>
      </div>
    </div>

  </div>
</section>
