html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: $color-rangoongreen;
  font: 400 16px / 1.5 Roboto, sans-serif;
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $grid-gap;
}

.title {
  margin-bottom: 30px;
  color: $color-rangoongreen;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  line-height: 1.15;
}
