// colors
$color-black: #000;
$color-white: #fff;
$color-rosefog: #e6c8b4;
$color-rangoongreen: #1b1a17;
$color-swisscoffee: #e3e0df;
$color-woodsmoke: #111113;
$color-schist: #a5b795;
$color-accent-hover: #7b8a6e;
$color-accent: #f14f4f;
$color-btn-active: #56604d;
$color-main-hover: #31343c;
$color-main: #444b58;
$color-error: #db143c;

// space
$grid-gap: 30px;
$nav-offset: 65px;
